<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <form action="" method="post">
                    {{/* Double iteration, because goals are a list of one-item maps. */}}
                    {{ range .}}
                    {{ range $name, $text := . }}
                    <div class="checkbox input-lg"><label><input name="{{$name}}" value="yes" type="checkbox">{{$text}}</label></div>
                    {{ end }}
                    {{ end }}
                    <button type="sumbit" disabled class="btn btn-default btn-lg">I did it!</button>
                </form>
            </div>
        </div>
    </div>
    <script>
        $( ":checkbox" ).map(function() {
            $( this ).change(function() {
                $( ".btn-default" ).prop("disabled",
                    $( ":checkbox" ).filter(":checked").get().length == 0);
            });
        });
    </script>
</body>
</html>
